html,
body {
    margin: 0;
    padding: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#viewer {
    height: 50%;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.test {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

.go-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
}

#brower-detect {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    width: 25%;
    text-align: left;
}

.safari-detected {
    color: red;
    font-weight: bold;
}
