html,
body {
    margin: 0;
    padding: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#viewer {
    height: 75%;
    width: 90%;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.test {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

.go-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
}

#brower-detect {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    width: 25%;
    text-align: left;
}

.safari-detected {
    color: red;
    font-weight: bold;
}

.switch-model-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    background-color: #55cdba;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    text-align: center;
    width: 150px;
}

.falcon {
    background-color: #55a9cd;
}

.controls {
    display: none;
    padding: 1.25rem;
    border-radius: 12px;
    background-color: #cbcbcb;
    position: absolute;
    bottom: 0;
    left: 0;
}

.controls div {
    padding: 0.5rem;
}

#frame {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}
