@import "./css/index.module.css";
@import "./css/chrome.module.css";
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #f5f7fa 40%, #b8c6db);
}

.Hotspot {
    max-width: 175px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 6px;
    font-family: "Ceviche One", cursive;
    font-size: 1.25rem;
    color: #39597c;
    background-color: rgba(255, 255, 255, 0.9);
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.text-md {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}

.text-8xl {
    font-size: 6rem; /* 96px */
    line-height: 1;
}

.text-9xl {
    font-size: 8rem; /* 128px */
    line-height: 1;
}

.text-white {
    color: white;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.btn {
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    margin: 0.5rem;
    min-width: 50px;
    box-shadow: 1px 1px 15px #654999;
}

/* .btn:hover {
    background-color: #373a3e;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 25px rgba(182, 253, 181, 0.8);
} */

.btn-primary {
    background-color: #2569bd;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #2569bd;
    color: #2569bd;
}

.btn-secondary {
    background-color: #3b5a81;
}

.btn-success {
    background-color: #19bf81;
}

.btn-danger {
    background-color: #bd4949;
}

.btn-white-outline {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

model-viewer {
    height: 100%;
    width: 100%;
}

/* .actions {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1 rem;
} */

.test {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

.go-back {
    padding: 2rem;
    color: white;
    text-decoration: none;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    text-align: center;
}

#brower-detect {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    width: 25%;
    text-align: left;
}

.safari-detected {
    color: red;
    font-weight: bold;
}

/* .switch-model-btn {
    background-color: #55cdba;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 10px #654999;
} */

.falcon {
    background-color: #55a9cd;
}

.controls {
    display: none;
    padding: 1.25rem;
    border-radius: 12px;
    background-color: #cbcbcb;
    position: absolute;
    bottom: 0;
    left: 0;
}

.controls div {
    padding: 0.5rem;
}

#frame {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

#ar-button {
    background-image: url("/ar-icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 0;
    padding: 0px 16px 0px 40px;
    margin-top: 0;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #dadce0;
}

#ar-button:active {
    background-color: #e8eaed;
}

#ar-button:focus {
    outline: none;
}

#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}

.hotspot {
    border: none;
    border-radius: 6px;
    padding: 0.5rem;
}

/* .HotspotAnnotation {
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
} */
